.heroSectionimg{
  display:'flex';
   position:relative;
   flex-direction:row;
    gap:60;
    padding:30;
}
.heroSectionimage{
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height:auto;
  border-radius: 25px;

}
.descreption{
  color: white;
  display: flex;
  max-width: 400px;
  width: 100%;
  height: auto;

}
.Name{
  display: flex; 
  font-size: 30px; 
  font-weight: bold; 
  color: white;
}
.resumebtn{
  padding: 10px 30px;
  font-size: 16px;
}

@media (max-width:800px) {
  .heroSectionimg{
    display:flex;
   position:relative;
 flex-direction: column;
    gap: 30px;
    padding: 40px 20px 0px 20px;
}
.heroSectionimage{
  max-width: 400px;
  max-height: 250px;
}
}
@media (max-width:425px) {
  .heroSectionimg{
    display:flex;
   position:relative;
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px 0px 20px;
}
.heroSectionimage{
  max-width: 300px;
  max-height: 300px;
}
.Name{
  display: flex; 
  font-size: 22px; 
  font-weight: bold; 
  color: white;
}
.descreption{
  font-size: 14px;
}

}
@media (max-width:375px) {
  .heroSectionimg{
    display:flex;
   position:relative;
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px 0px 20px;
}
.heroSectionimage{
  max-width: 210px;
  max-height: 210px;
}
}
@media (min-width:800px) {
  .heroSectionimg{
  display:flex;
   position:relative;
   flex-direction:row;
    gap:60px;
    padding:30px;
}
.heroSectionimage{
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height:auto;
  border-radius: 25px;

}
.Name{
  display: flex; 
  font-size: 30px; 
  font-weight: bold; 
  color: white;
}
.descreption{
  font-size: 16px;
}
.resumebtn{
  padding: 10px 40px;
  font-size: 16px;
}
}
@media (min-width:1024px) {
  .heroSectionimg{
  display:flex;
   position:relative;
   flex-direction:row;
    gap:100px;
    padding:30px;
}
.heroSectionimage{
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height:auto;
  border-radius: 25px;
}
.Name{
  display: flex; 
  font-size: 36px; 
  font-weight: bold; 
  color: white;
}
.descreption{
  font-size: 18px;
}
.resumebtn{
  padding: 10px 50px;
  font-size: 16px;
}

}

